<div class="container">
  <div class="row">
    <div class="col-sm-12"><h1>Settings</h1></div>
  </div>
  <div class="row">    
    <div class="col-md-6 group">
      <!-- <h2>Généraux</h2>
      <div class="icon-form-field">        
        <mat-icon color="accent">menu</mat-icon>
        <mat-placeholder>Entête fixe</mat-placeholder>
        <mat-slide-toggle
          [checked]="uiVar.currentStickyHeader"
          (change)="uiAction.onStickyHeaderToggle($event.checked)">
        </mat-slide-toggle>
      </div> -->
      <h2>Theme</h2>
      <div class="icon-form-field">
        <mat-icon color="accent">brush</mat-icon>
        <mat-form-field>          
          <mat-select [placeholder]="'Color'"                      
              [ngModel]="uiVar.currentTheme"
              (selectionChange)="uiAction.onThemeSelect($event.value)"
              name="themes">
            <mat-option *ngFor="let t of uiVar.themes" [value]="t.value">
              {{ t.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>      
    </div>
    <div class="col-md-6 group">
      <h2>Animations</h2>
      <div class="icon-form-field">        
        <mat-icon color="accent">web_asset</mat-icon>
        <mat-placeholder>Smooth transition</mat-placeholder>
        <mat-slide-toggle
          [checked]="uiVar.currentPageTransition"
          (change)="uiAction.onPageTransitionToggle($event.checked)">
        </mat-slide-toggle>
      </div>
    </div>
  </div>
</div>


