:host{
  position: relative;
  .fof-loading {
    position: absolute;    
    height: calc(100% + 15px);
    z-index: 2;
  }
  .mat-dialog-actions {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
  } 
}
