<div *ngIf="uiVar.loading" class="fof-loading">
  <mat-spinner diameter=20></mat-spinner> <span>Rafraichissement des rôles...</span>
</div>
<h2 mat-dialog-title>{{ uiVar.title }}</h2>
<mat-dialog-content>  

  <fof-core-fof-organizations-multi-select
    [multiSelect]="uiVar.organizationMultipleSelect"
    [selectedOrganisations]="uiVar.selectedOrganisations"
    [notSelectableOrganizations]="notSelectableOrganizations"  
    (selectedOrganizationsChange) = "uiAction.organisationMultiSelectedChange($event)"
  ></fof-core-fof-organizations-multi-select>

  <h4>Roles</h4>

  <div class="fof-fade-in" *ngFor="let role of uiVar.allRoles">            
      <mat-checkbox
        (change)="uiAction.userRoleOrganizationSave(role)"          
        [(ngModel)]="role.checked"
        [checked]="role.checked">{{ role.code }}</mat-checkbox>            
        <div class="role-hint">{{ role.description }}</div>            
  </div>
  
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button mat-dialog-close>Cancel</button>    
  <button mat-flat-button 
    (click)="uiAction.save()"
    color="primary">Save</button>    
    <!-- [mat-dialog-close]="true" -->
</mat-dialog-actions>
