<mat-card class="mat-elevation-z0 fof-header">        
  <h3>Roles</h3>   
  <a mat-stroked-button *ngIf="base.permissions.create"
    color="accent" 
    [routerLink]="'/admin/roles/new'">    
    <!-- <span>Add new</span> -->
    Add new
  </a>    
</mat-card>

<mat-card class="mat-elevation-z0">   
  <!-- [sortActive]="'code'"
    [linkParams]="'code'" -->
  <fof-table > 
    
    <!-- mat-sort-header -->
    <!-- <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Code</th>
      <td mat-cell *matCellDef="let row">hop hop hop {{row.code}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container> -->

  </fof-table>
</mat-card>

