
<mat-expansion-panel [expanded]="true" [class.no-expension]="noExpension" class="mat-elevation-z0 fof-expension-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>Roles</h3>      
    </mat-panel-title>
    
  </mat-expansion-panel-header>
    <mat-action-row>
      <button mat-stroked-button color="warn" *ngIf="base.permissions.delete"
        (click)="uiAction.userRolesDelete();$event.stopPropagation();">Delete</button>
      <button mat-stroked-button *ngIf="base.permissions.create"
        (click)="uiAction.roleSelectComponentOpen();$event.stopPropagation();">Add</button>      
    </mat-action-row>

  <div class="fof-table-container">
    <div *ngIf="uiVar.loadingRoles" class="fof-loading fof-loading-roles">
      <mat-spinner diameter=20></mat-spinner> <span>Roles updating...</span>
    </div>
  
    <table mat-table [dataSource]="uiVar.userRolesToDisplay" class="data-table">
  
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">  
          <mat-checkbox
            [(ngModel)]="row.checked">
          </mat-checkbox>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="organization">
        <th mat-header-cell *matHeaderCellDef>Organization</th>
        <td mat-cell *matCellDef="let row"
        (click)="uiAction.roleSelectComponentOpen(row)">
        {{row.organization}}</td>
      </ng-container>
  
      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef>Roles</th>
        <td mat-cell *matCellDef="let row"
          (click)="uiAction.roleSelectComponentOpen(row)">  
          <div *ngFor="let role of row.roles">
            {{ role }}
          </div>                  
        </td>
      </ng-container>
  
      <ng-container matColumnDef="icon" *ngIf="base.permissions.update">
        <th mat-header-cell *matHeaderCellDef></th>
        <td class="icon-select" mat-cell *matCellDef="let row" 
          (click)="uiAction.roleSelectComponentOpen(row)">  
          <mat-icon>chevron_right</mat-icon>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="uiVar.roleDisplayedColumns"></tr>
      <tr mat-row class="fof-element-over" 
        *matRowDef="let row; columns: uiVar.roleDisplayedColumns;"></tr>
  
    </table>        
  
  </div>

</mat-expansion-panel>


