<mat-card class="mat-elevation-z0 fof-header">        
  <h3>Users</h3>   
  <a mat-stroked-button *ngIf="base.permissions.create"
    color="accent" 
    [routerLink]="'new'">    
    <!-- <span>Add new</span> -->
    Add new
  </a>    
</mat-card>


<div class="row">
  <div class="col-md-3">

    <mat-expansion-panel class="mat-elevation-z0 panel-tree" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Organization
        </mat-panel-title>        
      </mat-expansion-panel-header>
    
      <fof-organizations-tree
        (selectedOrganizationsChange)="uiAction.organisationMultiSelectedChange($event)"        
        [multiSelect]="false">
      </fof-organizations-tree> 
    
    </mat-expansion-panel>
   
  </div>
  <div class="col-md-9">
    <mat-card class="mat-elevation-z0">     
      <fof-table
        [additionalSearchParam]="uiVar.additionalSearchParam">

         <!-- <ng-container matColumnDef="custom">
          <th mat-header-cell *matHeaderCellDef>Custom test</th>
          <td mat-cell *matCellDef="let row">
            <h3>This is the name</h3>
            {{row.firstName + ' ' + row.lastName}}
          </td>
        </ng-container> -->

      </fof-table>
    </mat-card>
  </div>
</div>
