<div class="view-mad--core--yes-no">
  <h2 mat-dialog-title>{{uiVar.title}}</h2>
  <div mat-dialog-content>
    <div [innerHTML]="uiVar.question"></div>
  </div>
  

  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial
      *ngIf="!uiVar.informationOnly">{{uiVar.noLabel}}</button>
      
  
    <button mat-button matDialogClose="true">{{uiVar.yesLabel}}</button>   
  </div>

  
</div>


<!-- <h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p> 
</div>
<div mat-dialog-actions>
  <button mat-button >No Thanks</button>
  <button mat-button  cdkFocusInitial>Ok</button>
</div> -->