.fof-tree {
  position: relative;  
  .refresh {
    position: absolute;    
    top: 0px;
    right: 0px;
    cursor: pointer;  
  }
}
.mat-tree {
  height: 100%;
  margin-bottom: 15px;
  .mat-tree-node {
    margin-right: 15px;
  }
}

.treeview-invisible {
  display: none;
}

.treeview ul,
.treeview li {
  margin-top: 0;
  margin-bottom: 0;  
  list-style-type: none;
}

.treeview ul {
  padding-left: 25px;
}

.mat-tree-node {
  min-height: 25px;
}

.mat-form-field {
  width: 100%;
}