<div class="fof-tree">
<mat-tree [dataSource]="this.uiVar.organizations.dataSource" 
  [treeControl]="this.uiVar.organizations.treeControl" class="treeview">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <li class="mat-tree-node">
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled></button>
      <mat-checkbox 
        [checked]="node.checked"        
        [disabled]="node.notSelectable || node.noAccess"
        (change)="uiAction.treeViewNodeSelect(node, $event)">
        {{node.name}}</mat-checkbox>
    </li>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: uiAction.OrganizationNodeHasChild">
    <li>
      <div class="mat-tree-node">
        <button mat-icon-button matTreeNodeToggle 
            class="fof-test-btn">
          <mat-icon class="mat-icon-rtl-mirror">
            {{this.uiVar.organizations.treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <mat-checkbox 
          [checked]="node.checked"          
          [disabled]="node.notSelectable || node.noAccess"
          (change)="uiAction.treeViewNodeSelect(node, $event)">                  
          {{node.name}}</mat-checkbox>                
      </div>
      <ul class="" [class.treeview-invisible]="!this.uiVar.organizations.treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
<button *ngIf="refreshButtonDisplay"
        class="refresh"
        mat-raised-button
        matTooltip="Rafraichir">
  <mat-icon *ngIf="refreshButtonDisplay"      
      (click)="uiAction.organizationTreeLoad(true)">cached</mat-icon>
</button>
<!-- <mat-icon *ngIf="refreshButtonDisplay"
  matTooltip="Info about the action"
  (click)="uiAction.organizationTreeLoad(true)"
  class="refresh">cached</mat-icon> -->
</div>