
mat-sidenav-container.main-sidenav-container {  
  width: 100%;
  .mat-sidenav-content {
    width: 100%;
  }
  .sidenav-menu {
    width: 200px;
    padding: 15px;
    .menu-main {
      margin-top: 15px;
    }
  }
  .toolbar-main {
    .branding {
      margin-left: 15px;
    }
    .flexExpand {
      flex: 1 1 auto;
    }
  }
  .content-main {
    margin: 15px;
  }  
}

// main layout
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1 0 auto;
    display: flex;   
    overflow: visible;       
  }

  .footer {
    flex: 0 0 auto;
    padding: 15px;    
  }
} 

.loading-screen {  
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo {  
    width: 240px;
    height: 240px;
    background: url(/assets/logo_cv.png) center center no-repeat;
    background-size: cover;
    .spinner {
      height: 300px;
      width: 300px;
      animation: rotate 5s linear infinite;
      transform-origin: center center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -30px;
      right: 0;
      margin: auto;
      .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        animation: dash 5.5s ease-in-out infinite;
        stroke-linecap: round;
        stroke: #ddd;
      }
    }
  }

  .fade-in {
    animation: fadeIn ease 30s;
    -webkit-animation: fadeIn ease 30s;
    -moz-animation: fadeIn ease 30s;
    -o-animation: fadeIn ease 30s;
    -ms-animation: fadeIn ease 30s;
  }
 
}

// Animations keyframes

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

