@import '~@angular/material/theming';

@mixin company-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  // $foreground: map-get($theme, foreground);
  // $background: map-get($theme, background);

  $is-dark-theme: map-get($theme, is-dark);
  $h-color: if($is-dark-theme, $accent, $primary);

  /* Exemple style par défaut */
  h1, h2, h3, h4, h5, h6 {
    color: mat-color($h-color);
  }

  a.active {
    color: mat-color($h-color);
  }

  /* exemple helpers */
  .color-primary {
    color: mat-color($primary);
  }
  .background-primary {
    background-color: mat-color($primary);
  } 

  .loading-screen { 
    background-color: #242424;
    color: white;
    h1 {
      color: white;
    }
  }

  .footer {
    background-color: #242424;
    color: white;
  }

  

  /**
    * fof elements css helper
    */

    .fof-loading {    
      display: flex;
      padding: 15px;
      width: 100%;
      opacity: 0.5; 
      animation-name: slidein;
      animation-duration: 5s;
      span {
        margin-left: 15px;
      }
      color: mat-color($primary, default-contrast);
      background-color: mat-color($primary);
      .mat-progress-spinner circle, .mat-spinner circle {
        stroke: mat-color($primary, default-contrast)!important;
      }
    }
    .fof-element-over { 
      &:hover {
        // color: mat-color($accent, default-contrast);
        // background-color: mat-color($accent) !important;
  
        // color: mat-color($primary, default-contrast);
        .mat-cell {
          color: mat-color($primary, default-contrast) !important;  
        }
        color: mat-color($primary, default-contrast) !important;
        background-color: mat-color($primary) !important;
      }    
    }   
    .fof-header {
      display: flex;
      justify-content: space-between;        
      margin-bottom: 15px;  
      h3 {
        margin-bottom: 0;        
        line-height: 2;        
        display: inline-block;
      }
      span {
        margin-left: 5px;
      }
      .fof-toolbar {    
        button {
          margin-left: 15px;
        }
      }
    }  
    // .fof-expension-panel {
    //   .mat-expansion-panel-header-description {
    //     display: flex;
    //     justify-content: flex-end;
    //     button {
    //       margin-left: 15px;
    //     }
    //   }
    // }
    .fof-table-container {
      position: relative;
      min-height: 200px;
      overflow-x: auto;
  
      .table-loading-shade {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 56px;
        right: 0;   
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      .data-table {
        width: 100%;  
      }
  
      .fof-element-over {
        cursor: pointer;
      }
    }
    @keyframes slidein {
      from {opacity: 0;}
      to {opacity: 1;}
    }
    .fof-fade-in { 
      animation-name: slidein;
      animation-duration: 0.6s;
      display: block;
    } 
  
    @media (max-width: map-get($grid-breakpoints, md)) {
      .fof-header {
        // display: block;
        padding: 15px;
        // margin-top: 5px;
        // text-align: center;
        // .fof-toolbar {
        //   display: flex;
        //   justify-content: space-between;     
        //   button {
        //     margin-left: unset!important;
        //   }
        // }
      }  
    }
}


.fof-search-control {
  .mat-form-field-infix {
    padding-top: 5px;
    padding-bottom: 13px;
  }
}


