<!-- [class]="'theme-wrapper ' + (uiVar.theme$ | async)" -->
<!-- <div class="theme-red wrapper"> -->
<div [class]="'wrapper ' + (uiVar.theme$ | async)">
  <mat-sidenav-container class="main-sidenav-container content">    
    <mat-sidenav [mode]="uiVar.isSmallDevice? 'push':'side'"    
      class="sidenav-menu"
      [(opened)]="uiVar.sideNavOpened">

      <button mat-button class="d-sm-inline"
          [matMenuTriggerFor]="toolbarUserMenu"
          routerLinkActive="active">
          <mat-icon>account_box</mat-icon> 
          <span>            
            {{ uiVar.currentUser?.firstName }} 
          </span>            
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #toolbarUserMenu="matMenu">            
          <a mat-menu-item>
            <mat-icon>account_circle</mat-icon>                        
            <span>{{ uiVar.currentUser?.firstName }} {{ uiVar.currentUser?.lastName }}</span>
          </a>
          <a (click)="uiAction.logOut()" mat-menu-item>
            <mat-icon>power_settings_new</mat-icon>
            <span>Déconnexion</span>
          </a>
        </mat-menu>

      <!-- <h3>Menu</h3>  -->
      <div class="menu-main">
        <a mat-button 
          routerLink="/"          
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">
          <!-- <mat-icon>home</mat-icon> -->
          Homepage          
        </a>
      </div>
      <div>
        <a mat-button 
          routerLink="/settings"          
          routerLinkActive="active">
          <!-- <mat-icon>home</mat-icon> -->
          Settings          
        </a>
      </div>

      <div class="admin-menu">
        <!-- d-none d-md-inline -->
        <span class="custom-nav-button">
          <a mat-button 
            [matMenuTriggerFor]="toolbarAdminMenu"
            routerLinkActive="active">
            Administration
            <mat-icon>keyboard_arrow_down</mat-icon>
          </a>
        </span>
  
        <!--**
          * Admin menu 
          ** -->
        <mat-menu #toolbarAdminMenu="matMenu">              
          <a mat-menu-item
            [routerLink]="'/admin/roles'">
            <span>Gérer les rôles</span>
          </a>
          <a mat-menu-item
            [routerLink]="'/admin/users'">                
            <span>Gérer les utilisateurs</span>
          </a>          
          <a mat-menu-item
            [routerLink]="'/admin/organization'">                
            <span>Gérer l'organisation</span>
          </a>
          <!-- <a mat-menu-item [matMenuTriggerFor]="api">API</a> -->
        </mat-menu>
        <!-- <mat-menu #api="matMenu">
          <a mat-menu-item
            target="_blank" 
            [href]="uiVar.backendPath + '/docs/apis/#'">                
            <span>Documentation</span>
          </a>
          <a mat-menu-item
            target="_blank"
            [href]="uiVar.backendPath + '/swagger-stats/ux#/'">                
            <span>Monitoring</span>
          </a>
        </mat-menu> -->
      </div>
    </mat-sidenav>

    <mat-sidenav-content>      

      <mat-toolbar class="toolbar-main" color="primary">
        <button mat-icon-button aria-label="menu"
          (click)="uiVar.sideNavOpened=!uiVar.sideNavOpened">            
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button> 
        <span routerLink="/" class="branding">
          fof Company
        </span>

        <span class="flexExpand"></span>

        

      </mat-toolbar>

      <div class="content-main" [@fadeAnimation]="uiAction.getRouterOutletState(o)">
        <router-outlet #o="outlet"></router-outlet>
      </div>    
    </mat-sidenav-content>

  </mat-sidenav-container>

  <div class="footer">
    <!-- Footer -->
    <!-- <img alt="logo Redsen" src="../assets/logo-small-white.png" /> -->
  </div>

  <fof-notification></fof-notification>
</div>

<!-- screen Loader while waiting auth & user profile  -->
<div class="loading-screen" *ngIf="uiVar.loading">  
  <!-- <div class="content">
    <img src="../assets/logo_cv.png" />  
  </div> -->
  <div class="app-loading">
    <div class="logo">
      <svg class="spinner fade-in" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="0.5" stroke-miterlimit="10"/>
      </svg>
    </div>
  </div>  
  <h1>Chargement...</h1>
  <p class="fade-in">Désolé, le serveur dormait... Ne bougez pas, on le réveille pour vous !</p>  
</div>

