// @import '../../../styles-variables.scss';

.row.main {
  height: 100%;  
  .panel-tree {
    height: 100%;
  } 
  .card-detail {
    position: sticky;
    top: 0;
  }
}

.synchronized {  
  padding-top: 15px;
  font-size: smaller;
  opacity: 0.5;
}

.mat-expansion-panel {
  margin-bottom: 15px;
  overflow: initial;
}

.mat-form-field {
  width: 100%;
}

.child-add {
  margin-bottom: 15px;
}

@media (max-width: 800px) {
  .row.main {
    height: unset;
    .panel-tree {
      height: unset;
    } 
  }
}