<div *ngIf="uiVar.loading" class="fof-loading">
  <mat-spinner diameter=20></mat-spinner> <span>Organization is loading...</span>
</div>

<div class="row main">
  <div class="col-md-6">

    <mat-expansion-panel class="mat-elevation-z0 panel-tree" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Organization
        </mat-panel-title>        
      </mat-expansion-panel-header>
    
      <fof-organizations-tree
        (selectedOrganizationsChange)="uiAction.selectedOrganizationsChange($event)"
        [nodeChanged]="uiVar.nodeChanged"
        [refreshButtonDisplay]="true"
        [nodeToDelete]="uiVar.nodeToDelete"></fof-organizations-tree>      
    
    </mat-expansion-panel>

  </div>
  <div class="col-md-6">

    <mat-expansion-panel [expanded]="true" class="mat-elevation-z0 fof-expension-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>          
          {{ uiVar.actionTitle }}
        </mat-panel-title>   
        
        <!-- <mat-panel-description *ngIf="uiVar.currentNode.isSynchronized">
          Synchronizé depuis un autre mini-service
        </mat-panel-description> -->
      </mat-expansion-panel-header>
      
        <mat-action-row *ngIf="!uiVar.currentNode?.isSynchronized">
          <!-- <button mat-stroked-button *ngIf="uiVar.nodeForm"
            (click)="uiAction.organisationCancel()"><mat-icon >cached</mat-icon></button>     -->
          <button mat-stroked-button *ngIf="uiVar.nodeForm"
            (click)="uiAction.organisationCancel()">Cancel</button>    
          <button mat-stroked-button color="warn" *ngIf="uiVar.nodeForm && !uiVar.organizationIsNew && base.permissions.delete && !uiVar.currentNode?.isRoot"
            (click)="uiAction.organisationDelete()">Delete</button>     
          <button mat-stroked-button color="accent" *ngIf="uiVar.nodeForm && base.permissions.update"
            (click)="uiAction.organisationSave()">
            Save</button>   
        </mat-action-row>

        <div *ngIf="!uiVar.loading && uiVar.nodeForm" class="fof-fade-in card-detail">  
          
          <div class="fof-toolbar" *ngIf="base.permissions.create">
            <button mat-stroked-button  *ngIf="!uiVar.organizationIsNew && !uiVar.currentNode?.isSynchronized"
              class="child-add" color="primary"
              (click)="uiAction.organisationAdd()">Add child</button>            
          </div> 

          <fof-core-fof-organizations-multi-select
            [placeHolder]="'Parent node'"        
            [selectedOrganisations]="uiVar.organizationFatherDisplay"
            (selectedOrganizationsChange) = "uiAction.organisationMultiSelectedChange($event)"
            [multiSelect]="false"            
          ></fof-core-fof-organizations-multi-select>

          <form [formGroup]="uiVar.form">        
            <mat-form-field>
              <!-- [readonly]="uiVar.currentNode?.isSynchronized" -->
              <input matInput required                 
                type="text"
                formControlName="name"
                placeholder="Name of the organization's node" value="">
              <mat-error *ngIf="uiVar.form.get('name')?.invalid">
                Name can't be null and can't exced 100 characteres                
              </mat-error>
            </mat-form-field>        
            <mat-form-field>
              <!-- [readonly]="uiVar.currentNode?.isSynchronized" -->
              <input matInput                  
                type="text"
                formControlName="uid"
                placeholder="UID of the organization's node" value="">         
              <mat-hint>if you don't need, don't fill it</mat-hint>
            </mat-form-field>    
          </form>  
          
          <!-- <fof-entity-footer
            [entityBase]="uiVar.user">
          </fof-entity-footer> -->
          <div class="synchronized" *ngIf="uiVar.currentNode?.isSynchronized">
            Synchronizé depuis un autre mini-service
          </div>      

        </div>

    </mat-expansion-panel>
 
  </div>
</div>

