<div >    
  <div *ngFor="let notification of uiVar.notifications"
      [@inOut]
        class="{{ uiAction.cssClass(notification) }} notification-dismissable">
    <button (click)="uiAction.removenotification(notification)" type="button" class="close" data-dismiss="notification">
      <span >&times;</span>
    </button>
    <div [innerHTML]="notification.message"></div>
  </div>
</div>


<div *ngIf="uiVar.savedActive"  class="saved-notification" >
  <span></span>
</div>