@import '~@angular/material/theming';

@mixin fof-notification-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  fof-notification {    
    .notification.notification-danger {
      color: mat-color($warn, default-contrast);
      background-color: mat-color($warn);
      .close {
        color: mat-color($warn, default-contrast);
      }
    }
    .notification.notification-info {
      color: mat-color($accent, default-contrast);
      background-color: mat-color($accent);
      .close {
        color: mat-color($accent, default-contrast);
      }
    }
    .notification.notification-success {
      color: mat-color($success-colors, default-contrast);
      background-color: mat-color($success-colors);
      .close {
        color: mat-color($success-colors, default-contrast);
      }
    }
    .notification.notification-warning {
      color: mat-color($warning-colors, default-contrast);
      background-color: mat-color($warning-colors);
      .close {
        color: mat-color($warning-colors, default-contrast);
      }
    }
    .saved-notification {      
      background-color: mat-color($success-colors);
      span {       
        &:before {
          background: #fff;  
          // border-color: #06b;
          border-color: gray;
        }
        &:after {       
          border-color: #fff;
          // background: #06b;  
          background: gray;  
         
        }
      }
    }
  }  
}