:host {  
  position: fixed;
  z-index: 999999;
  bottom: 12px;
  // top: 70px;
  right: 12px;
  width: 300px;    
  .notification {
    padding: 0.5rem;
    margin-top: 0.5rem;
    position: relative;
    &:hover {
      .close {
        opacity: 1;
      }
    }
    .close {
      position: absolute;
      border: none;
      background-color: transparent;      
      // right: -5px;
      // top: -13px;
      right: 0;
      top: 0;
      font-size: 25px;
      cursor: pointer;
      opacity: 0.3;      
    }   
  }
  .saved-notification {  
    position: fixed;
    z-index: 9999999;
    // top: 70px;
    bottom: 15px;
    right: 15px;  
    width: 25px;  
    height: 25px;
    border-radius: 50px;    
    span {
      position: absolute;
      left: -3px;
      &:before, &:after {
        box-sizing: border-box;
        content: "";
        position: absolute;
      }
      &:before {       
        border-style: solid;
        border-width: 7px 2px 1px;
        border-radius: 1px;
        height: 16px;
        left: 8px;
        top: 5px;
        width: 16px;
      }
      &:after {        
        border-style: solid;
        border-width: 1px 1px 1px 4px;
        height: 5px;
        left: 13px;
        top: 5px;
        width: 7px;
      }
    }
  }
}