.search-bar {
  display: flex;
  .search-input{
    flex-grow: 4;    
    .form {
      width: 100%; 
      display: flex;     
      .mat-form-field {
        width: calc( 100% - 80px);
      }      
      .search-btn {
        margin-top: 10px;
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 800px) {
  .search-bar {
    display: unset;
  }
}
