<!-- https://benjamin-maisonneuve1.medium.com/smart-mat-table-part-3-inject-column-d7994c904383 -->



<div class="fof-table-container mat-elevation-z0">

  <div class="table-loading-shade fof-loading" *ngIf="uiVar.isLoadingResults">
    <mat-spinner diameter=20></mat-spinner> <span>Loading...</span>
  </div>


  <!-- <div class="search-bar">
    <div class="search-input">
      <fof-search-bar></fof-search-bar>
    </div>
    <div>
      <mat-paginator [length]="uiVar.resultsLength" 
        [pageSizeOptions]="[5, 10, 25, 100]"
        [pageSize]="uiVar.pageSize"> ici et la </mat-paginator>
    </div>    
  </div> -->

  <div class="search-bar">
    <div class="search-input">
      <!-- <mat-form-field class="example-chip-list" appearance="outline">
        <mat-chip-list #chipList>

        </mat-chip-list>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
      </mat-form-field> -->
      <div class="form">
        <mat-form-field class="example-full-width" 
          floatLabel="never"
          appearance="outline">
          <mat-label>Filter</mat-label>
          <input [formControl]="uiVar.searchUsersControl"
            matInput placeholder="role.code||$eq||superUser" value="role.code||$eq||superUser">
        </mat-form-field>
        <!-- <div class="search-input">
          <input type="search" class="mat-elevation-z0" [formControl]="uiVar.searchUsersControl">
        </div> -->
        <div class="search-btn">
          <button mat-stroked-button 
            (click)="uiAction.search()"
            color="primary">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>           
    </div>
    <div>
      <mat-paginator [length]="uiVar.resultsLength" 
        [pageSizeOptions]="[5, 10, 25, 100]"
        [pageSize]="uiVar.pageSize"> ici et la </mat-paginator>
    </div>    
  </div>

  <div class="fof-table-container mat-elevation-z0">
    
    <div class="table-loading-shade fof-loading" *ngIf="uiVar.isLoadingResults">
      <mat-spinner diameter=20></mat-spinner> <span>Chargements des utilisateurs...</span>
    </div>

    <table mat-table [dataSource]="uiVar.data" class="data-table"
          matSort matSortActive="{{sortActive}}" matSortDisableClear matSortDirection="asc">
    
          
      <ng-container *ngFor="let column of uiVar.allColumns"
        matColumnDef="{{column.technicalName}}">

        <!-- <ng-container matColumnDef="{{column.technicalName}}" *ngIf="!column.customHtml"> -->
            <ng-container *ngIf="column.sortable">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>{{column.displayedName}}</th>
            </ng-container>
            <ng-container *ngIf="!column.sortable">
              <th mat-header-cell *matHeaderCellDef>{{column.displayedName}}</th>
            </ng-container>      
            
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="column.technicalName.split('.').length > 1">
              {{ row[column.technicalName.split('.')[0]][column.technicalName.split('.')[1]]}}
            </ng-container>
            <ng-container #simple_column>
              {{row[column.technicalName]}}
            </ng-container>
          </td>
        <!-- </ng-container> -->

    </ng-container>

      <ng-content></ng-content>

        <!-- <ng-container matColumnDef="code">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Code</th>
        <td mat-cell *matCellDef="let row">{{row.code}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let row">{{row.description}}</td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="uiVar.displayedColumns"></tr>
      <tr mat-row class="fof-element-over" [routerLink]="row[linkParams]"
        *matRowDef="let row; columns: uiVar.displayedColumns;"></tr>
    </table>

  </div>

 
</div>

