.main {    
  form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    .mat-form-field {
      width: 100%;
    }
  }  
}

.mat-expansion-panel {
  margin-bottom: 15px;
}

.groups-card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;  
  .group-card {
    margin: 0 15px 15px 0;
    width: 18em;
    height: 12em;
    overflow: overlay;
    mat-card-title {
      text-transform: uppercase;
    } 
  } 
} 

@media (max-width: 800px) {
  .groups-card {
    .group-card {
      width: 100%; 
      margin-right: 0; 
      height: unset;  
    }  
  }
}
