<div class="row">
  <div class="col-md-6">

    <div *ngIf="uiVar.loading" class="fof-loading">
      <mat-spinner diameter=20></mat-spinner> <span>Chargements des roles et des authorisations...</span>
    </div>  

    <mat-expansion-panel *ngIf="!uiVar.loading" class="fof-fade-in detail"
      [expanded]="true" class="fof-expension-panel mat-elevation-z0">

      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ uiVar.title }}
        </mat-panel-title>             
      </mat-expansion-panel-header>

      <mat-action-row>        
        <button mat-stroked-button
          (click)="uiAction.roleCancel()"><mat-icon >cached</mat-icon></button>
        <button mat-stroked-button color="warn" *ngIf="base.permissions.delete"
          (click)="uiAction.roleDelete()">Supprimer</button>
        <button mat-stroked-button color="accent" *ngIf="base.permissions.update"
          (click)="uiAction.roleSave()">
          Enregister</button>
      </mat-action-row>
    
      <div class="main">         
        <form [formGroup]="uiVar.form">
          <mat-form-field>
            <input matInput required          
              formControlName="code"
              placeholder="Code du rôle" value="">
            <mat-error *ngIf="uiVar.form.get('code')?.invalid">
              Le code du rôle est obligatoire et doit être composé de au moins 3 caractères
            </mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <textarea matInput 
              formControlName="description"
              rows="3"
              placeholder="Description"></textarea>
            <mat-hint>Décrivez succintement le rôle</mat-hint>
            <mat-hint align="end">{{uiVar.form.get('description')?.value?.length}} /
              200</mat-hint>
            <mat-error *ngIf="uiVar.form.get('description')?.invalid">
              La description ne peut pas excéder 200 caractères
            </mat-error>
          </mat-form-field>
        </form>       
      </div>
    
      <!-- <fof-entity-footer
        [entityBase]="uiVar.role">
      </fof-entity-footer> -->
    
    </mat-expansion-panel>

  </div>
  <div class="col-md-6 groups-card">
    <mat-card class="group-card fof-fade-in mat-elevation-z0" *ngFor="let group of uiVar.permissionGroups">
      <mat-card-header>      
        <mat-card-title>{{ group.code }}</mat-card-title>      
      </mat-card-header>
      <mat-card-content *ngIf="group.children">
        <div *ngFor="let permission of group.children">
          <mat-checkbox
            (click)="uiAction.rolePermissionSave(permission, $event)"          
            [(ngModel)]="permission.checked"
            [checked]="permission.checked">{{ permission.code }}</mat-checkbox>
        </div>
      </mat-card-content>
      <ng-template #loading>
        <mat-spinner diameter=30></mat-spinner>
      </ng-template>    
    </mat-card>
  </div>
</div>

