.example-chip-list {
  width: 100%;
}
.fof-search-bar {
  display: flex;
  .search-cell {
    // margin-right: 15px;
    &.recent {
      // border: 1px solid lightgray;
    }
    &.search-input {
      flex-grow: 4;    
      .searches-recent {
        display: inline-block;
      }  
    }
  }
  .selected-items {
    &:first-child {
      // background-color: yellow;
      margin-left: 4px;;
    }
    .selected-item {
      display: inline-block;
      padding: 9px;
      border: 1px solid lightgray;
      // margin: 5px;
    }
  }
 
  // .selected-item {
  //   display: inline-block;
  //   padding: 4px;
  //   border: 1px solid lightgray;
  //   // margin: 5px;
  // }  
}



