<div class="fof-search-bar"> 
  <div class="search-cell recent">
  </div>
  <div class="search-cell search-input fof-search-control">
    <mat-form-field class="example-chip-list" appearance="outline">
      
      <mat-chip-list #chipList>
        <div class="searches-recent">
      
          <span class="custom-nav-button">
            <a mat-button 
              [matMenuTriggerFor]="toolbarAdminMenu"
              routerLinkActive="active">
              Recent searches
              <mat-icon>keyboard_arrow_down</mat-icon>
            </a>
          </span>
    
          <mat-menu #toolbarAdminMenu="matMenu">              
            <a mat-menu-item
              [routerLink]="'/admin/roles'">
              <span>Gérer les rôles</span>
            </a>
            <a mat-menu-item
              [routerLink]="'/admin/users'">                
              <span>Gérer les utilisateurs</span>
            </a>          
            <a mat-menu-item
              [routerLink]="'/admin/organization'">                
              <span>Gérer l'organisation</span>
            </a>           
          </mat-menu>
          
        </div>
        <div class="selected-items">
          <div class="selected-item"
              *ngFor="let field of fields">
            {{field}}      
          </div>
        </div>
        <input class="custom-fof"
          placeholder="Filters..."
          #fieldInput
          [formControl]="fieldCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        >
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let field of filteredValues | async" [value]="field">
          {{field}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="search-cell">
    <span class="custom-nav-button">
      <a mat-button 
        [matMenuTriggerFor]="toolbarAdminMenu"
        routerLinkActive="active">
        Order
        <mat-icon>keyboard_arrow_down</mat-icon>
      </a>
    </span>   
  </div>
</div>


