<div class="main">  
  <div *ngIf="!uiVar.loadingUser" class="detail fof-fade-in">    

    <div class="row">
      <div class="col-md-6">

        <mat-expansion-panel [expanded]="true" class="mat-elevation-z0 fof-expension-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ uiVar.title }}
            </mat-panel-title>             
          </mat-expansion-panel-header>
          
            <mat-action-row>
              <button mat-stroked-button
                (click)="uiAction.userCancel()"><mat-icon >cached</mat-icon></button>
              <button mat-stroked-button color="warn" *ngIf="base.permissions.delete"
                (click)="uiAction.userDelete()">Delete</button>
              <button mat-stroked-button color="accent" *ngIf="base.permissions.update"
                (click)="uiAction.userSave()">
                Save</button>    
            </mat-action-row>

            <div class="row">
              <div class="col-xs-6">
                <form [formGroup]="uiVar.form">

                  <!-- <mat-form-field>
                    <input matInput 
                      formControlName="login"
                      placeholder="login" value="">
                    <mat-error *ngIf="uiVar.form.get('login')?.invalid">
                      Le login ne doit pas excéder 30 caractères
                    </mat-error>
                  </mat-form-field> -->
        
                  <mat-form-field>
                    <input matInput required 
                      type="email"
                      formControlName="eMail"
                      placeholder="Email" value="">
                    <mat-error *ngIf="uiVar.form.get('eMail')?.invalid">
                      email is mandatory                      
                    </mat-error>
                  </mat-form-field>
        
                  <mat-form-field>
                    <input matInput required 
                      type="firstName"
                      formControlName="firstName"
                      placeholder="Firstname" value="">
                    <mat-error *ngIf="uiVar.form.get('firstName')?.invalid">
                      Firstname must NOT exced 30 characteres
                    </mat-error>
                  </mat-form-field>
        
                  <mat-form-field>
                    <input matInput required 
                      type="lastName"
                      formControlName="lastName"
                      placeholder="Lastname" value="">
                    <mat-error *ngIf="uiVar.form.get('lastName')?.invalid">                      
                      Lastname must NOT exced 30 characteres
                    </mat-error>
                  </mat-form-field>     
                  
                  <fof-core-fof-organizations-multi-select
                    [placeHolder]="'Organization'"
                    [multiSelect]="false"    
                    [selectedOrganisations]="uiVar.userOrganizationsDisplay"   
                    (selectedOrganizationsChange) = "uiAction.organisationMultiSelectedChange($event)"   
                  ></fof-core-fof-organizations-multi-select>          
                 
                </form>
              </div>
              <div class="col-xs-6 user-right">

                <form [formGroup]="uiVar.form">
                  <mat-checkbox formControlName="isActive"
                  > Utilisateur actif
                  </mat-checkbox>           
                </form>

              </div>
            </div>
        
            <!-- <fof-entity-footer
              [entityBase]="uiVar.user">
            </fof-entity-footer> -->
        
        </mat-expansion-panel>

      </div>

      <div class="col-md-6" *ngIf="!uiVar.loadingUser && !uiVar.userIsNew">
       
        <fof-user-roles
          [userId]="uiVar.userId">
        </fof-user-roles>       
        
      </div>

    </div>
  </div>
  <div *ngIf="uiVar.loadingUser" class="fof-loading">
    <mat-spinner diameter=20></mat-spinner> <span>User loading...</span>
  </div>
    
</div>

