// @import '../../../styles-variables.scss';

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row; 
  margin-bottom: 15px; 
  .mat-expansion-panel {
    margin-bottom: 15px;
    overflow: initial;
  }
  .detail {
    width: 100%;
    form{
      // min-width: 150px;
      // max-width: 500px;
      // width: 100%;
      .mat-form-field {
        width: 100%;
      }
    }
    .user-right {
      margin-left: 15px;
    }
  } 
    
  .fof-loading-roles {
    position: absolute;
  }

  .role-hint{
    padding-left: 25px;
    font-size: smaller;
  }

  .icon-select {
    text-align: right;
  }

  @media (max-width: 800px) {
    .group-card {
      width: 100%; 
      margin-right: 0;   
    }  
  }
}



