/*
Meilleur tuto sur les themes : 
- https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
*/


/* bootstrap utilisé uniquement pour la grid*/
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~@angular/material/theming';

@include mat-core();

// exemple palette
// https://github.com/angular/components/blob/ad248652e7da31398176fe11878b59805e440b5a/src/material/core/theming/_palette.scss

// imports custom themes
@import './fof-theme-red.scss';
@import './fof-theme-dark.scss';
@import './styles-variables.scss';

// import components themes
@import './styles-reset.scss-theme.scss';
@import '../lib/layout/master-page/master-page.component.scss-theme.scss';
@import '../lib/layout/themes/notification.component.scss-theme.scss';


// mixin all custom thenes
@mixin custom-components-theme($theme) {  
  @include company-styles-reset-theme($theme);  
  @include company-theme($theme);    
  @include notification-theme($theme);
}

a:hover{
  text-decoration: none;
}

.theme-red {    
  @include angular-material-theme($fof-theme-red);  
  @include custom-components-theme($fof-theme-red);    
}

.theme-dark {
  @include angular-material-theme($fof-theme-dark);
  @include custom-components-theme($fof-theme-dark);  
}
