$fof-black-primary: mat-palette($mat-grey, 700, 300, 900);
$fof-black-accent: mat-palette($mat-blue-grey, 400);
$fof-black-warn: mat-palette($mat-red, 500);

$fof-theme-dark: mat-dark-theme(
  $fof-black-primary,
  $fof-black-accent,
  $fof-black-warn
);
// @include mat-core();

// // Define a theme.
// $fof-black-primary: theming.define-palette(palette.$pink-palette, 700, 500, 900);
// $fof-black-accent:  theming.define-palette(palette.$blue-grey-palette, A200, A100, A400);

// $fof-theme-dark: mat-dark-theme(
//   $fof-black-primary,
//   $fof-black-accent  
// );

// mat-option {
//   &.mat-selected.mat-active {
//     color: $fof-black-accent;
//   }
//   .mat-option.mat-selected:not(.mat-option-disabled) {
//     color: $fof-black-accent;
//   }
// }
