/* toDo: Voir avec un graphiste pour les couleurs*/
$fof-red-primary: mat-palette($mat-red, 900);
$fof-red-accent: mat-palette($mat-green, 900);
$fof-red-warn: mat-palette($mat-deep-orange, 200);

$fof-theme-red: mat-light-theme(
  $fof-red-primary,
  $fof-red-accent,
  $fof-red-warn
);
