@import '~@angular/material/theming';

@mixin fof-entity-footer-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
}