<div class="fof-menu-custom">	
	<mat-form-field>
		<mat-chip-list #chipList>	      
      <mat-chip *ngFor="let organisation of selectedOrganisations"
        (click)="uiAction.openTree()"				
        (removed)="uiAction.organisationRemove(organisation)">
        <div class="chip-labels">          
          {{ organisation.name }}
          <div class="sub-title">{{ organisation.fullPath }}</div>          
					<!-- <div class="sub-title">error with organisation.fullPath</div>           -->
        </div>
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>			
			<input matInput [placeholder]="placeHolder"
				readonly
				[matChipInputFor]="chipList"
				(click)="uiAction.openTree()">
		</mat-chip-list>
	</mat-form-field>
	<div class="cdk-overlay-pane"
		[class.tree-display]="uiVar.treeMenuVisible">
		<div class="organization-menu mat-menu-panel mat-elevation-z4">
      <fof-organizations-tree        
        [multiSelect]="multiSelect"
        [canSelectAncestors]="false"
				[selectedNodesSynchronize]="selectedOrganisations"
				[notSelectableOrganizations]="notSelectableOrganizations"
				(selectedOrganizationsChange)="uiAction.selectedOrganizationsChange($event)"
				></fof-organizations-tree>
		</div>
	</div>
</div>