.fof-menu-custom {
  position: relative; 
  .mat-standard-chip {
    height: unset;
    border-radius: 12px;
    .chip-labels {
      .sub-title {
        font-size: smaller;
      }
    }
  }
  .mat-form-field {
    width: 100%;
  }
  .cdk-overlay-pane {
    width: 100%;
    position: absolute;    
    transform: translateY(-18px);
    display: none;
    &.tree-display {
      display: block;
    }
    .organization-menu { 
      &.mat-menu-panel {
        max-width: 100%;
        max-height: unset;
      }     
      min-width: 112px;      
      overflow: auto;
      -webkit-overflow-scrolling: touch;      
      border-radius: 4px;      
      height: 100%;
      // max-height: 350px;
    }
  }  
}